.chat-group-form
  %h1 新規チャットグループ
  = form_for @group do |f|
    - if @group.errors.any?
      .chat-group-form__errors
        %h2= "#{@group.errors.count}件のエラーが発生しました。"
        - @group.errors.full_messages.each do |msg|
          %li= msg
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label 'グループ名', class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, class: 'chat-group-form__input', autofocus: true, value: "#{session[:name]}", placeholder: 'グループ名を入力して下さい'

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label 'チャットメンバーを追加', class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.collection_check_boxes :user_ids, @users, :id, :name

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label 'チャットメンバーを追加', class: 'chat-group-form__label'
      .chat-group-form__field--right
        = text_field_tag :search, "", id: "inc_search",  class: 'chat-group-form__input', name: 'keyword',  autofocus: true, placeholder: '追加したいユーザー名を入力して下さい'
        #user-search-result

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label 'チャットメンバー', class: 'chat-group-form__label'
      .chat-group-form__field--right
        .chat-group-users
          .chat-group-user.clearfix
            .chat-group-user__name
              = current_user.name
              = f.hidden_field :usr_ids, name: 'group[user_ids][]', value: ''
        #chat-group-users

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit 'Save', class: 'submit-save'
